* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	background-color: #333;
	font-family: "Montserrat", sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.hero-img {
	position: relative;
	background-image: url(./img/video-games-gfc356addd_640.jpg);
	height: 300px;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.hero-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

.hero-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
}

.hero-text h1 {
	text-shadow: 0px 0px 15px white;
}

input {
	font-size: 18px;
}

input::placeholder {
	font-size: 15px;
}

.base {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
}

.games,
.types {
	display: flex;
	position: relative;
	width: 400px;
	height: 420px;
	flex-direction: column;
	border-radius: 15px;
	border: 3px solid whitesmoke;
}

.games {
	height: 470px;
	background-color: #81ba95;
	background-image: linear-gradient(349deg, #1d7e3f 0%, #81ba95 100%);
}

.types {
	margin-top: 10px;
	background-color: rgb(112, 139, 221);
	background-image: linear-gradient(
		349deg,
		rgb(31, 70, 187) 0%,
		rgb(128, 147, 205) 100%
	);
}

button:active {
	scale: 0.95;
}
.allGamesAndTypes {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 15px;
	right: 15px;
	font-size: 15px;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
	border-radius: 50%;
	background-color: rgba(80, 70, 70, 0.541);
	text-transform: uppercase;
	cursor: pointer;
	border: 5px solid rgb(230, 233, 220);
	box-shadow: 0px 0px 10px;
}

.base h2 {
	margin-top: 20px;
	margin-left: 20px;
	font-size: 40px;
	text-transform: uppercase;
}

.input-style {
	position: absolute;
	width: 80%;
	left: 10%;
	height: 40px;
	border-radius: 10px;
	border: 2px solid rgb(8, 8, 8);
	box-shadow: 0px 0px 10px;
}

span {
	font-weight: bold;
	color: aqua;
}

#gameName {
	top: 120px;
}

#typeId {
	top: 180px;
}

#gameType {
	top: 140px;
}

.buttons {
	position: absolute;
	top: 245px;
	left: 45px;
}

.typeButtons {
	position: absolute;
	top: 200px;
	left: 45px;
}

.gameAndTypeAlert {
	display: none;
	position: absolute;
	bottom: 70px;
	left: 5%;
	width: 90%;
	padding: 5px;
	text-align: center;
	border-radius: 10px;
	font-weight: bold;
	color: red;
	border: 2px solid rgb(8, 8, 8);
	box-shadow: 0px 0px 10px;
	background-color: rgb(190, 245, 198);
}

.btn {
	padding: 10px 15px;
	margin-right: 10px;
	border-radius: 10px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	border: 2px solid rgb(8, 8, 8);
	box-shadow: 0px 0px 10px;
	cursor: pointer;
}

.headerH2 {
	margin-top: 10px;
	border-bottom: 2px solid black;
}

.deleteAll {
	position: absolute;
	bottom: 10px;
	right: 30px;
	width: 120px;
	height: 50px;
	padding: 5px 10px;
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: bold;
	background-color: rgb(208, 68, 68);
	border: 2px solid rgb(8, 8, 8);
	box-shadow: 0px 0px 10px;
	cursor: pointer;
}

.find {
	background-color: green;
}

.add {
	background-color: royalblue;
}

.delete {
	background-color: rgb(226, 226, 23);
}

.gamesForType {
	margin-top: 10px;
	background-color: rgb(125, 103, 211);
}

.update-game,
.update-type {
	margin-top: 10px;
	background-color: rgb(79, 198, 209);
}

.listOfGames,
.listOfTypes {
	display: none;
	padding: 20px 10px;
	color: aliceblue;
}

h3 {
	padding: 20px 0px;
	font-size: 24px;
}

ul {
	padding-bottom: 20px;
	font-size: 15px;
	list-style: none;
}

li {
	padding: 10px 15px;
	border-bottom: 1px solid;
}

.externalAlertWindow {
	top: -300px;
	position: absolute;
	left: 40px;
	width: 300px;
	height: 200px;
	background-image: linear-gradient(349deg, #eaea79 0%, #eb541c 100%);
	border-radius: 15px;
	border: 3px solid red;
	z-index: 10;
	transition: top 0.8s, left 0.7s;
}

.shadowImageForAlert {
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 5;
}

.showDeleteAllGamesAlert {
	top: 400px;
}

.showDeleteAllTypesAlert {
	top: 850px;
}

.deleteWindowText {
	position: absolute;
	padding: 20px;
	font-weight: bold;
	text-align: center;
}

.confirmAlertDelete {
	position: absolute;
	bottom: 50px;
	left: 30px;
	background-color: rgb(222, 24, 17);
	cursor: pointer;
}

.cancelAlertDelete {
	position: absolute;
	bottom: 50px;
	right: 30px;
	background-color: rgb(121, 220, 106);
	cursor: pointer;
}

.deleteOneTypeWindow .externalAlertWindow {
	top: 800px;
	left: -110%;
	background-image: linear-gradient(349deg, #eaea79 0%, #5bdf3d 100%);
	transition: left 0.8s;
}

.deleteOneTypeWindow .showDeleteOneTypeWindow {
	top: 800px;
	left: 10%;
}

.deleteOneTypeWindow .cancelAlertDelete {
	bottom: 30px;
}
.deleteOneTypeWindow .confirmAlertDelete {
	bottom: 30px;
}

/* Update Window
//
//
//
//
//
//
//
*/

.updateGameAndTypeWindow .externalAlertWindow {
	height: 250px;
}

.updateGameAndTypeWindow .input-style {
	width: 90%;
	left: 5%;
}

.inputOldName {
	top: 40px;
}

.inputNewName {
	top: 90px;
}

.updateGameAndTypeWindow .confirmAlertDelete {
	bottom: 10px;
}

.updateGameAndTypeWindow .cancelAlertDelete {
	bottom: 10px;
	right: 20px;
}

.updateGameAndTypeWindow .showUpdateGameWindow {
	top: 400px;
}
.updateGameAndTypeWindow .showUpdateTypeWindow {
	top: 850px;
}

.updateGameAndTypeWindowText {
	position: relative;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}

.updateGameAndTypeWindow .gameAndTypeAlert {
	bottom: 60px;
}


/*
//
//
//
//
//
//
//
//
//
//
//
//
//
*/

@media (min-width: 576px) {
	.games,
	.types {
		display: flex;
		position: relative;
		width: 470px;
		height: 380px;
		justify-content: space-between;
		border: 3px solid whitesmoke;
	}

	.input-style {
		position: absolute;
		width: 300px;
		height: 30px;
	}

	#gameName {
		top: 120px;
		left: 10px;
	}

	#typeId {
		top: 160px;
		left: 10px;
	}

	#gameType {
		top: 120px;
		left: 10px;
	}

	.buttons {
		top: 200px;
		left: 30px;
	}

	.typeButtons {
		top: 170px;
	}

	.deleteAll {
		bottom: 10px;
		left: 320px;
		width: 120px;
	}

	.btn {
		padding: 5px 10px;
	}

	.base {
		margin-top: 50px;
	}

	.types {
		margin-top: 0px;
	}

	.all {
		font-size: 15px;
	}

	.gamesForType {
		margin-top: 0px;
	}
	.listOfGames,
	.listOfTypes {
		display: none;
		padding: 20px 5px;
		color: aliceblue;
	}

	h3 {
		padding: 20px 0px;
		font-size: 36px;
	}

	ul {
		padding-bottom: 30px;
		font-size: 30px;
		list-style: none;
	}

	li {
		padding: 15px 30px;
		border-bottom: 1px solid;
	}

	.externalAlertWindow {
		top: -300px;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 500px;
		height: 200px;
	}

	.shadowImageForAlert {
		height: 100vh;
	}

	.showDeleteAllGamesAlert {
		top: 400px;
	}

	.showDeleteAllTypesAlert {
		top: 400px;
	}

	.deleteWindowText {
		font-size: 30px;
	}

	.confirmAlertDelete {
		bottom: 40px;
		font-size: 20px;
	}

	.cancelAlertDelete {
		bottom: 40px;
		font-size: 20px;
	}

	.deleteOneTypeWindow .externalAlertWindow {
		top: 400px;
		left: -150%;
		padding: 20px;
		transform: translate(-50%, -50%);
		width: 600px;
		height: 200px;
	}

	.deleteOneTypeWindow .deleteWindowText {
		font-size: 20px;
		padding: 15px;
	}

	.deleteOneTypeWindow .showDeleteOneTypeWindow {
		top: 400px;
		left: 50%;
	}

	.updateGameAndTypeWindow .showUpdateGameWindow,
	.updateGameAndTypeWindow .showUpdateTypeWindow {
		top: 400px;
	}

	.updateGameAndTypeWindowText {
		font-size: 20px;
	}
}

@media (min-width: 1400px) {
	.hero-img {
		background-image: url(./img/video-games-g0db9839ec_1920.jpg);
		height: 400px;
	}

	.hero-text h1 {
		font-size: 90px;
	}
}
